@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #e5eff5;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}
html .container {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html .container .card {
  max-width: 700px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
html .container .card .join-section {
  background-color: white;
  grid-column: 1/3;
  min-height: 100px;
  line-height: 1.3;
  padding: 2rem;
}
html .container .card .join-section p:nth-child(1) {
  font-size: 22px;
  font-weight: 700;
  color: #2ab2af;
}
html .container .card .join-section p:nth-child(2) {
  padding-block: 1rem;
  color: #c0df34;
  font-weight: 700;
}
html .container .card .join-section p:nth-child(3) {
  color: #98a6bd;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}
html .container .card .price-section {
  background-color: #2ab2af;
  grid-column: 1/2;
  padding: 2rem;
  min-height: 110px;
}
html .container .card .price-section p:nth-child(1) {
  color: white;
  font-weight: 700;
  font-size: 18px;
}
html .container .card .price-section .price {
  display: flex;
  padding-top: 1.5rem;
}
html .container .card .price-section .price p:nth-child(1) {
  color: white;
  font-size: 28px;
  font-weight: 700;
  padding: 0 1rem 1rem 0;
}
html .container .card .price-section .price P:nth-child(2) {
  padding-top: 7px;
  font-size: 14px;
  color: #e0d8d8;
  letter-spacing: 1.2px;
}
html .container .card .price-section #access {
  color: white;
  font-size: 14px;
  position: relative;
  top: -5px;
}
html .container .card .price-section button {
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 30px;
  display: inline-block;
  padding: 14px 16px;
  width: 75%;
  color: white;
  letter-spacing: 1.3px;
  background-color: #c0df34;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
html .container .card .why-section {
  background-color: #36c9c7;
  grid-column: 2/3;
  padding: 2rem;
  min-height: 210px;
}
html .container .card .why-section p:nth-child(1) {
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 0 1rem 1rem 0;
}
html .container .card .why-section p:nth-child(2) {
  width: 60%;
  color: white;
  line-height: 1.5;
  font-size: 13px;
  word-wrap: break-word;
}
html .attribution {
  font-size: 15px;
  max-width: 700px;
  margin: 4rem auto;
  color: grey;
  display: flex;
  justify-content: space-between;
}
html .attribution div:nth-child(1) {
  padding-right: 1rem;
}
html .attribution a {
  color: grey;
  padding: 0 2px;
}

@media only screen and (max-width: 700px) {
  html .container .card {
    max-width: 90%;
  }
  html .container .card .why-section p:nth-child(2) {
    width: 90%;
    line-height: 2;
  }
}
@media only screen and (max-width: 500px) {
  html .container .card .price-section #access {
    padding-top: 1rem;
  }
  html .container .card .price-section button {
    margin-left: 10px;
    margin-bottom: 0;
  }
  html .container .card .why-section p:nth-child(2) {
    line-height: 1.3;
  }
  html .container .attribution {
    max-width: 90%;
  }
}
@media only screen and (max-width: 400px) {
  html .container .card {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(minmax(345px, min-content), 3);
  }
  html .container .card .join-section {
    grid-column: 1;
    grid-row: 1/2;
  }
  html .container .card .price-section {
    grid-column: 1;
    grid-row: 2/3;
  }
  html .container .card .price-section button {
    width: 90%;
  }
  html .container .card .why-section {
    grid-column: 1;
    grid-row: 3/4;
  }
  html .container .card .why-section p:nth-child(2) {
    line-height: 1.5;
  }
}

/*# sourceMappingURL=style.css.map */
