// Imported Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// Primary Colors
$cyan : hsl(179, 62%, 43%);
$lightCyan : hsl(179, 58%, 50%);
$brightYellow : hsl(71, 73%, 54%);
$white: hsl(0, 0%, 100%);

//Neutral Colors
$lightGray : hsl(204, 43%, 93%);
$grayishBlue : hsl(218, 22%, 67%);

//font-stack
$font : "Karla", sans-serif;
$fontWeight : 700;